<footer class="mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="text-muted">Copyright © {{fullYear}} Jordan Schnur</span>
      </div>
      <div class="col d-flex justify-content-end footer-social">
          <a href="https://twitter.com/jordan_schnur" target="_blank" class="text-muted ml-2"><fa-icon class="fa-icon" [icon]="faTwitter"/>X</a>
          <a href="https://www.linkedin.com/in/jordan-schnur/" class="text-muted ml-2" target="_blank" ><fa-icon class="fa-icon"  [icon]="faLinkedin"/>LinkedIn</a>
          <a href="https://github.com/jordan-schnur" class="text-muted ml-2" target="_blank" ><fa-icon class="fa-icon"  [icon]="faGithub"/> GitHub</a>
      </div>
    </div>
    <div style="height: 20px;"></div> <!-- Buffer -->
  </div>
</footer>
