.keyboard {
  width: 50%;
  margin: 0 auto;
}

.key-row {
  display: flex;
  flex: 2 1 200%;
}

.key {
  flex: 1;
  margin: 0.25rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: center;
  user-select: none;
  /* Adjust the border-radius and box-shadow as per your design preference */
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.key.double {
  flex: 2;
}

.key:focus {
  outline: none;
}

.space-holder:before {
  content: 'A';
  display: block;
  padding-top: 100%;
}

.clicked {
  /* Styling for when a key is clicked or pressed */
  background-color: #e0e0e0; /* Example style */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
}
