<h1>About Me</h1>
<p>Hello! I'm Jordan Schnur, the creator of BeeSpellbound. My passion for software engineering, coupled with an interest in language and learning, drove me to develop this spelling game. My goal is to create a platform that's both educational and enjoyable, helping people of all ages to improve their spelling and vocabulary skills.</p>

<h2>My Background</h2>
<p>With a background in Software Engineering from Penn State and professional experience at ZeroedIn Technologies, I believe in the power of technology to make learning accessible and engaging. I've combined my technical expertise with a love for language to create BeeSpellbound.</p>

<h2>My Vision</h2>
<p>Through BeeSpellbound, I aspire to reach a global audience, providing a fun and interactive tool for improving spelling abilities. I am committed to continually enhancing the game, adding new features, and creating an experience that our users will find both challenging and rewarding.</p>

<p>Thank you for joining me on this journey with BeeSpellbound, and I hope you find as much joy in playing it as I have found in creating it!</p>
