<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-lg">
      <div>
        <app-audio-player #audioPlayerComponent [audioUrl]="'assets/audio/words/' + this.wordToSpell + '.mp3'"></app-audio-player>
      </div>
    </div>
    <div class="col-sm">

    </div>
</div>

<h3>User Score: {{score}}</h3>
<h2>{{userMessage}}</h2>

<div class="tile" *ngFor="let guess of guesses; let i = index">
  <app-word [wordToSpell]="wordToSpell" [userGuess]="guess" [shouldScore]="isCorrect || i < currentTry"></app-word>
</div>

<app-keyboard (keyPress)="handleKeyPress($event)"/>

<button [disabled]="disablePlayAgain" (click)="newWord()">Reset Game</button>
