.container {
  margin-top: 2em;
  margin-bottom: 12em;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  margin-top: auto; /* Sticky footer */
}
