/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

/*main.container {*/
/*  padding: 60px 15px 0;*/
/*}*/

